<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Simpsons</string>
		<key>cat</key>
		<string>https://chatstickers.com/the_simpsons/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>One Piece</string>
		<key>cat</key>
		<string>https://chatstickers.com/one_piece/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Meme</string>
		<key>cat</key>
		<string>https://chatstickers.com/meme/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Anime</string>
		<key>cat</key>
		<string>https://chatstickers.com/anime/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Buttery</string>
		<key>cat</key>
		<string>https://chatstickers.com/buttery/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Meow</string>
		<key>cat</key>
		<string>https://chatstickers.com/meow/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fighting</string>
		<key>cat</key>
		<string>https://chatstickers.com/fighting_evolution/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grassy</string>
		<key>cat</key>
		<string>https://chatstickers.com/grassy/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Blacy</string>
		<key>cat</key>
		<string>https://chatstickers.com/the_blacy/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Emotional</string>
		<key>cat</key>
		<string>https://chatstickers.com/very_emotional/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Love Heart</string>
		<key>cat</key>
		<string>https://chatstickers.com/i_love_hearts/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Monsters</string>
		<key>cat</key>
		<string>https://chatstickers.com/favorite_monsters/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Blueticons</string>
		<key>cat</key>
		<string>https://chatstickers.com/blueticons/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Popo</string>
		<key>cat</key>
		<string>https://chatstickers.com/popo/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hallowen</string>
		<key>cat</key>
		<string>https://chatstickers.com/halloween/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Yolks_1</string>
		<key>cat</key>
		<string>https://chatstickers.com/yolks_v1/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Yolks_2</string>
		<key>cat</key>
		<string>https://chatstickers.com/yolks_v2/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2s_space_v1</string>
		<key>cat</key>
		<string>https://chatstickers.com/2s_space_v1/</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2s_space_v2</string>
		<key>cat</key>
		<string>https://chatstickers.com/2s_space_v2/</string>
	</dict>
</array>
</plist>
