<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>
☻
</string>
	<string>
ت
</string>
	<string>
ヅ
</string>
	<string>
ツ
</string>
	<string>
ッ
</string>
	<string>
シ
</string>
	<string>
Ü
</string>
	<string>
ϡ
</string>
	<string>
ﭢ
</string>
	<string>
=^.^=
</string>
	<string>
≥^.^≤
</string>
	<string>
≤^.^≥
</string>
	<string>
(&gt;‿◠)✌
</string>
	<string>
≧✯◡✯≦✌
</string>
	<string>
≧◠◡◠≦✌
</string>
	<string>
≧&apos;◡&apos;≦
</string>
	<string>
=☽
</string>
	<string>
≧◔◡◔≦
</string>
	<string>
≧◉◡◉≦
</string>
	<string>
≧✯◡✯≦
</string>
	<string>
≧❂◡❂≦
</string>
	<string>
≧^◡^≦ 
</string>
	<string>
≧°◡°≦
</string>
	<string>
≧◡≦
</string>
	<string>
(─‿‿─)
</string>
	<string>
ᵔ.ᵔ
</string>
	<string>
:◅)
</string>
	<string>
≕)
</string>
	<string>
≔)
</string>
	<string>
≠)
</string>
	<string>
|:-)
</string>
	<string>
=)
</string>
	<string>
:)
</string>
	<string>
:-)
</string>
	<string>
;)
</string>
	<string>
;=)
</string>
	<string>
;-)
</string>
	<string>
ж)
</string>
	<string>
^o^
</string>
	<string>
^.^
</string>
	<string>
^.^)
</string>
	<string>
=^.^=
</string>
	<string>
:*)
</string>
	<string>
:-&gt;
</string>
	<string>
(¬‿¬)
</string>
	<string>
٩(●̮̮̃•)۶
</string>
	<string>
٩(̃-̮̮̃-)۶
</string>
	<string>
(-̮̮̃•)۶
</string>
	<string>
٩(×̯×)۶
</string>
	<string>
٩(•̮̮̃-̃)۶
</string>
	<string>
&lt;(^,^)&gt;
</string>
	<string>
(≧◡≦)
</string>
	<string>
乂⍲‿⍲乂
</string>
	<string>
〷◠‿◠〷	
</string>
	<string>
&apos;☋&apos;
</string>
	<string>
:=◑
</string>
	<string>
☋
</string>
	<string>
Σ=)
</string>
	<string>
Ж-þ
</string>
	<string>
^^.
</string>
	<string>
（‐＾▽＾‐）
</string>
	<string>
=D
</string>
	<string>
ЖD
</string>
	<string>
ЖB=D
</string>
	<string>
XD
</string>
	<string>
X=D
</string>
	<string>
☜(*▽*)☞
</string>
	<string>
☜(˚▽˚)☞
</string>
	<string>
ZB-D
</string>
	<string>
\ ˚▽˚ /
</string>
	<string>
2к-Ͻ
</string>
	<string>
2к-3
</string>
	<string>
| (• ◡•)|
</string>
	<string>
:P
</string>
	<string>
:b
</string>
	<string>
=P
</string>
	<string>
=b
</string>
	<string>
=-b
</string>
	<string>
:-P
</string>
	<string>
:Þ
</string>
	<string>
:-Þ
</string>
	<string>
B-Þ
</string>
	<string>
B=Þ
</string>
	<string>
Ж-b
</string>
	<string>
≧ω≦
</string>
	<string>
P=:
</string>
	<string>
:-J
</string>
	<string>
2к-P
</string>
	<string>
 ╍●‿●╍
</string>
	<string>
≧✯◡✯≦✌
</string>
	<string>
ZB-Φ
</string>
	<string>
ZB-Ø
</string>
	<string>
B)
</string>
	<string>
BD
</string>
	<string>
Ж)
</string>
	<string>
Ж-D
</string>
	<string>
XD
</string>
	<string>
B-|
</string>
	<string>
B┨
</string>
	<string>
B-/
</string>
	<string>
2к-V
</string>
	<string>
m/(&gt;.&lt;)\m
</string>
	<string>
ὺ.ύ
</string>
	<string>
（`_ゝ´)
</string>
	<string>
(｀_っ´)
</string>
	<string>
ὸ.ό
</string>
	<string>
m(&gt;&lt;)m
</string>
	<string>
&gt;:(
</string>
	<string>
&gt;:-(
</string>
	<string>
&gt;:=(
</string>
	<string>
&gt;:)
</string>
	<string>
&gt;:-)
</string>
	<string>
&gt;:=)
</string>
	<string>
&gt;:=◑
</string>
	<string>
&gt;:=@
</string>
	<string>
&gt;BD
</string>
	<string>
&gt;XD
</string>
	<string>
&gt;B-&lt;&gt;
</string>
	<string>
&gt;B┨
</string>
	<string>
»,«
</string>
	<string>
&gt;:[P]
</string>
	<string>
&gt;.&lt;
</string>
	<string>
(&gt;‘o’)&gt; 
</string>
	<string>
凸(¬‿¬)
</string>
	<string>
◣◢)┌∩┐
</string>
	<string>
(ノಠ益ಠ)ノ [flips a table]
</string>
	<string>
♥+♥
</string>
	<string>
=♥
</string>
	<string>
(♥♥,)
</string>
	<string>
❣
</string>
	<string>
➳♥
</string>
	<string>
&lt;3
</string>
	<string>
&lt;/3
</string>
	<string>
:-*
</string>
	<string>
@};-
</string>
	<string>
@&gt;--;--
</string>
	<string>
=Ø
</string>
	<string>
웃❤유
</string>
	<string>
☜♡☞
</string>
	<string>
=U
</string>
	<string>
=Ш
</string>
	<string>
!o◡O!
</string>
	<string>
⊙_☉
</string>
	<string>
O﹏o
</string>
	<string>
⊙.☉
</string>
	<string>
❁_❁
</string>
	<string>
⊙.☉
</string>
	<string>
○.◎
</string>
	<string>
▧.▨
</string>
	<string>
❂.❂
</string>
	<string>
@.@
</string>
	<string>
≥⁰,⁰≤
</string>
	<string>
≧⁰,⁰≦
</string>
	<string>
O.o
</string>
	<string>
O_o
</string>
	<string>
̃o.O
</string>
	<string>
(̃⊙.o
</string>
	<string>
⊙.◎)
</string>
	<string>
:-O
</string>
	<string>
:O
</string>
	<string>
:-o
</string>
	<string>
:-X
</string>
	<string>
:-Σ
</string>
	<string>
•ิ.•
</string>
	<string>
&lt;(&apos;o&apos;&lt;)~
</string>
	<string>
=U
</string>
	<string>
ૅ.ે
</string>
	<string>
(~_^)
</string>
	<string>
=➚
</string>
	<string>
=✖
</string>
	<string>
ό,ὸ
</string>
	<string>
=I
</string>
	<string>
:-I
</string>
	<string>
:-1
</string>
	<string>
=Ї
</string>
	<string>
_*.*_
</string>
	<string>
=$
</string>
	<string>
:-#	
</string>
	<string>
:/
</string>
	<string>
:\
</string>
	<string>
=/
</string>
	<string>
=\
</string>
	<string>
:=/
</string>
	<string>
:=\
</string>
	<string>
(◐.̃◐)
</string>
	<string>
ಠ_ಠ
</string>
	<string>
*-*
</string>
	<string>
°.°
</string>
	<string>
(◑.◑)
</string>
	<string>
◭,◭
</string>
	<string>
&lt;(&apos; .&apos; )&gt;
</string>
	<string>
^( &apos;-&apos; )^
</string>
	<string>
v( ‘.’ )v
</string>
	<string>
/˚,˚\
</string>
	<string>
♠_♦﻿
</string>
	<string>
}:=/
</string>
	<string>
=Ґ
</string>
	<string>
=ґ
</string>
	<string>
=Г
</string>
	<string>
=г
</string>
	<string>
=l
</string>
	<string>
=L
</string>
	<string>
..^.^..zZzzZZ
</string>
	<string>
&gt;:[P]
</string>
	<string>
&lt;(&apos;o&apos;&lt;)
</string>
	<string>
^( &apos;-&apos; )^
</string>
	<string>
(&gt;‘o’)&gt;
</string>
	<string>
v( ‘.’ )v
</string>
	<string>
&lt;(&apos; .&apos; )&gt;
</string>
	<string>
&lt;(&apos;.&apos;&lt;)
</string>
	<string>
/&apos;&apos;&apos;\ (Ⓘ.Ⓘ) /&apos;&apos;&apos;\
</string>
	<string>
ʕ•ᴥ•ʔ
</string>
	<string>
=(_8^(1)
</string>
	<string>
|_P
</string>
	<string>
//_^
</string>
	<string>
&lt;:3 )~
</string>
	<string>
O-\-&lt;]:
</string>
	<string>
}-(((*&gt;
</string>
	<string>
(_T_)
</string>
	<string>
(*≗*)
</string>
	<string>
:▶
</string>
	<string>
v(*.*)^
</string>
	<string>
%￭.￭%
</string>
	<string>
☜☆☞
</string>
	<string>
εїз Ƹ̴Ӂ̴Ʒ Ƹ̵̡Ӝ̵̨̄Ʒ
</string>
	<string>
[̲̅$̲̅(̲̅ιοο̲̅)̲̅$̲̅]
</string>
	<string>
║█║▌║█║▌│║▌║▌█║
</string>
	<string>
o==[]::::::::::::::::&gt;
</string>
	<string>
♪┏(・o･)┛♪┗ ( ･o･) ┓♪</string>
	<string>┏ ( ) ┛♪┗ (･o･ ) ┓♪
</string>
	<string>
ヽ(´ー`)人(´∇｀)人(`Д´)ノ
</string>
	<string>
_|__(-.-)
</string>
	<string>
t(&gt;.&lt;t)
</string>
	<string>
凸(¬‿¬)凸
</string>
	<string>
◣◢)┌∩┐
</string>
	<string>
(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜)
</string>
	<string>
≥≧≦≤</string>
	<string>
.^◡^.
</string>
	<string>
----------------(\_/)</string>
	<string>
-(\(\----------(≧◡≦)</string>
	<string>
( =&apos;:&apos;)---&lt;[:]|||||||[:]&gt;</string>
	<string>
(..(&quot;)(&quot;)✿❀❁(&quot;)(&quot;)</string>
	<string>
</string>
</array>
</plist>
