<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>
☹
</string>
	<string>
=☾
</string>
	<string>
:[
</string>
	<string>
:-C
</string>
	<string>
๏̯͡๏
</string>
	<string>
*෴*
</string>
	<string>
̃๏̯̃๏
</string>
	<string>
๏̯̃๏ 'Ω'
</string>
	<string>
ಠ_ರೃ
</string>
	<string>
:'( 
</string>
	<string>
:'&lt;
</string>
	<string>
:"&lt;
</string>
	<string>
◄.►
</string>
	<string>
&lt;:(
</string>
	<string>
&lt;:-(
</string>
	<string>
&lt;:'-(
</string>
	<string>
&lt;:"(
</string>
	<string>
╯.╰
</string>
	<string>
ಥ_ಥ
</string>
	<string>
(╥﹏╥)
</string>
	<string>
ͼ(ݓ_ݓ)ͽ 
</string>
	<string>
（ つ﹏╰） 
</string>
	<string>
/╯﹏╰\
</string>
	<string>
(&gt;‿♥)
</string>
	<string>
✿◕ ‿ ◕✿
</string>
	<string>
❀◕ ‿ ◕❀
</string>
	<string>
❁◕ ‿ ◕❁
</string>
	<string>
%ᵕ‿‿ᵕ%
</string>
	<string>
(◡‿◡✿)
</string>
	<string>
(✿◠‿◠)
</string>
	<string>
≧❀‿❀≦
</string>
	<string>
-=#:-)
</string>
	<string>
:-Ø
</string>
	<string>
=ϕ
</string>
	<string>
:-ϕ 
</string>
	<string>
:-Φ
</string>
	<string>
(っ◕‿◕)っ ♥
</string>
	<string>
ύ.ὺ
</string>
	<string>
:I
</string>
	<string>
=|
</string>
	<string>
:=|
</string>
	<string>
(►.◄)
</string>
	<string>
:┨
</string>
	<string>
O:)
</string>
	<string>
O:-)
</string>
	<string>
O:=)
</string>
	<string>
≧=ʘ‿ʘ=≦
</string>
	<string>
Σ=)
</string>
	<string>
3:)
</string>
	<string>
}:-)
</string>
	<string>
}:=)
</string>
	<string>
}:(
</string>
	<string>
3:=(
</string>
	<string>
}:-(
</string>
	<string>
3:&lt;
</string>
	<string>
}:-&lt;
</string>
</array>
</plist>
